body{
    font-family: 'Oxygen', sans-serif;
    font-size:16px;
    font-weight: 400;
}
a,
a:hover{
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    letter-spacing: inherit;
}
.beshop-header .site-title {
    text-shadow: 2px 6px 3px #999;
}
input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}
.bs-gridh h2.entry-title {
    font-size: 18px;
}
.bs-gridh .entry-meta, 
.bs-gridh .entry-meta a {
    margin-bottom: 1rem;
    font-size:10px
}
h3.widget-title, 
h2.widget-title {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    background: #fff;
    padding: 10px 5px;
    margin-bottom: 20px;
    border:1px solid #ccc
}
.site-footer, 
.site-main .comment-navigation, 
.site-main .posts-navigation, 
.site-main .post-navigation {
    background: #dddeee;
}
h1.site-title a {
    color: #4169e1;
    text-decoration: none;
    font-style: italic;
}

.footer-widget a:hover, 
.footer-widget a:focus, 
.footer-widget a:active{
    color:#ededed
}